.content-box h4{   
   margin: 24px;                      
   color: #ADACAC;
}
.seek-list{                            /* 添加列表顶部内容 */
	height: 100px;
	background: #EFEFEF;
	text-align: center;
	line-height: 100px;
}
.seek-list input{                         /* 添加列表搜索框 */
	width: 450px;
	height: 45px;
	margin-left: 30px;
	border-radius: 10px;
	background: #dfdfdf;
	margin-left: 12px;
	border: 0;
	font-size: 18px;
	outline:none;
}
.add-list img{                                 /* 添加列表图片 */
	width: 64px;
	float: right;
	margin:22px 24px 0 0;
}
.activity-box{                                /* 内容模块*/
	width: 702px;
    box-shadow:8px 8px 16px #cccccc;
    border-radius: 10px;
    border: 1px solid #cccccc;	
    margin-bottom: 24px;
}
.activity-top{                                       /* 顶部圆角*/
	height: 16px;
	border-radius: 10px 10px 0 0;
	background: #f7896f;
}
.activity-gray{
	height: 32px;
	position: relative;
	background: #dbe4f9;
}
.activity-yellow{                                    /* 倾斜边角 */
	width: 108px;
	height: 16px;
	position: absolute;
	bottom: 0;
	border-right:20px transparent dotted;
	border-bottom:20px #f8f7ab solid;
}
.activity-input{                          /* 输入框模块*/
	height: 94px;
	background: #ffffff;
	line-height: 94px;
	position: relative;
}
.activity-input input{                   /* 输入框 */
	width: 678px;
	height: 62px;
	padding-left: 24px;
	font-size: 24px;
	line-height: 62px;
	border: 0;
	outline:none;
}
.inpit-border{                              /* 输入框黑色底线 */
	position: absolute;
	bottom: 18px;
	left: 24px;
	width: 654px;	
	height: 1px;
	display: inline-block;
	background: #000000;
}
.activity-bottom{                                   /* 底部圆角*/
	height: 16px;
	border-radius:0 0 10px 10px ;
	background: #DBE4F9;
}
.activity-hr{
	height: 8px;
	background: #DBE4F9;
}
.activity-ul{                                 /*底部图标 */
    height: 84px;
    line-height: 84px;
}
.activity-ul ul li{
	float: left;
	width: 34px;
	height: 34px;
	margin:10px 70px;
	cursor: pointer;
}
.delete-box{                                    /* 删除窗口和弹出层*/
    position:fixed;
	width: 560px;
	height: 420px;
	top:50%;
	left:50%;
	z-index:1000;
	display:none;
	cursor:pointer;
	margin: 0 auto;
}
.delete-top{                                  /* 删除窗口提示 */
	height: 56px;
	border-radius:10px 10px 0 0;
	background: #f86060;
	color: #ffffff;
	line-height: 56px;
	font-size: 32px;
	text-align: center;
}
.delete-hint{                                /* 删除窗口内容 */
	height: 280px;
	text-align: center;
	color: #555555;
	background: #f3f3f3;
	font-size: 32px;
}
.off,.on{	                                  /* 删除窗口按钮 */
	width: 280px;
	height: 84px;
	float: left;
	display: inline-block;
	font-size: 36px;
	text-align: center;
	line-height: 84px;
}
.off{                                        /* 删除窗口取消 */
	color: #464646;
	background: #C3C3C3;
	border-radius:0 0 0 10px;
}
.on{
	border-radius:0 0 10px 0;                /* 删除窗口确认 */
	background: #f86060;
	color: #ffffff;
}
.black{                                       /* 微信阴影背景 */
	width:100%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	display:none;
	background:#000000;
	opacity: 0.9;
	z-index:100;      	    
}
.wx-black{                               /* 微信弹出位置 */
	position:fixed;
	top:50%;
	left:50%;
	background:#ffffff;
	z-index:1000;
	display:none;
	cursor:pointer;
}
.list-delete label{
	cursor: pointer;
}
.list-delete input[type="checkbox"]{     /* 原始选框消失 */
	display:none;
}