
.tab-selected{                   /* 头部已选择模块 */
	height: 156px;
	box-shadow:8px 8px 16px #cccccc;
    border: 1px solid #cccccc;
    overflow: hidden;
}
.selected{                               /* 已选 */
	float: right;
	padding-right: 25px;
	line-height: 156px;
	color: #464646;
	font-size: 24px;	
}
.selected-box{                        /* 标签总宽  */
	width: 560px;
	display: inline-block;
}
.selected-color{                         /* tab标题背景 */
	height: 48px;
	display: inline-block;
	font-size: 24px;
	line-height: 48px;	
} 
.tab-choose{                              /*已选标签模块 */
	background: #2AAFF1;
	color: #ffffff;
	height: 48px;
	margin: 14px 12px 12px 12px;
    float: left;
    padding:0 12px;
    position: relative;
    line-height: 48px;
    border-radius:5px;
    font-size: 24px;
    width: auto;
}
.selected-delete{                            /* 已选标签模块删除按钮 */
	height: 29px;
	padding-left:24px;
	color: #ffffff;
	cursor: pointer;
}

.active1{
	background: #f3f3f3;
}
.active2{                        /* tab内容背景 */
	color: #2aaff1;
}
.active3{
	color: #464646;
}
.tab-box{
	margin-top: 24px;
}
.tab-title{                      /* tab标题 */
	width: 312px;
	height: 800px;
	background: #d0d0d0;
	float: left;
}
.tab-title li{                    /* tab标题li */
	height: 84px;
	font-size: 28px;
	color: #464646;
	padding-left: 28px;
	line-height: 84px;
	cursor: pointer;
}
.tab-content{                      /* tab内容块 */
	width: 382px; 
	height: 800px;
	background: #f3f3f3;
	float: right;
}
.tab-content ul li{                /* tab内容 */
	height: 75px;
	line-height: 75px;
	display: none;
	font-size: 28px;
	color: #464646;
	cursor: pointer;
}
.skillbar span{              /* tab内容左25PX */
	padding-left: 25px;
}